In [1]:
# for loops and while loops

In [2]:
a=[2,5,34,2]

In [4]:
for i in a:
    print(i)

2
5
34
2

In [6]:
b="ashok"

In [9]:
for i in b:
    print(i,end=' ')

a s h o k

In [14]:
b[4]

'k'

In [15]:
# using index in for loops in python

In [37]:
a=[4,2,45,4,34,3,43]

In [17]:
for i ,j in enumerate(a):# here i means index and j is a element in link
    print(i,j)

0 4
1 2
2 45
3 4
4 34
5 3
6 43

In [38]:
for index ,num in enumerate(a):
    print(index ,num)

0 4
1 2
2 45
3 4
4 34
5 3
6 43

In [23]:
for index ,num in enumerate(b):
    print(index ,num)

0 a
1 s
2 h
3 o
4 k

In [24]:
a=3
b=2

In [25]:
#swap a values of a and b

In [26]:
a

3

In [27]:
b

2

In [28]:
a,b=b,a

In [31]:
a #after swap

2

In [32]:
b #after swap

3

In [39]:
#while loops

In [3]:
a=5
print(a)

5

In [4]:
print(a)

5

In [5]:
A=int(input("enter a number:"))
for i in range(A+1):
    print(i)

enter a number:2
0
1
2

In [6]:
a=0
while a<10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9

In [8]:
a=range(1,10,2)
a

range(1, 10, 2)

In [9]:
list(a)

[1, 3, 5, 7, 9]

In [11]:
a=list(range(1,10,2))
a

[1, 3, 5, 7, 9]

In [16]:
for num in range(0,11):
    print(num,end="")

012345678910

In [17]:
#using for loop with lists

In [21]:
a=[i for i in range(0,6)]

In [22]:
a

[0, 1, 2, 3, 4, 5]

In [23]:
b=[i*2 for i in range(0,11)]

In [24]:
b

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
# 1 to 10 tables

In [26]:
c=[
    [2,3],
    [4,1]
]

In [27]:
c

[[2, 3], [4, 1]]

In [29]:
c[0][1]

3

In [32]:
len(c) # gives me a no.of rows

2

In [40]:
for i in range(len(c)): #going to each row
    for j in range(len(c)): #going to each column in a row
        print(c[i][j],end=" ") #printing in same line for each row
    print()  #printing new line when next row comes

2 3
4 1

In [59]:
        #tables!!


a=int(input("Enter a number: "))
for i in range(1,11):
    c=i*a
    print(f"{a} * {i} = ",c)

Enter a number: 6
6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54
6 * 10 =  60

In [ ]:
#table for upto the  given number!!
a=int(input("Enter a number: "))
for j in range(1,a+1):
    for i in range(1,11):
        c=i*2
        print(f"{j} * {i} = ",c)
    print()

In [60]:
# table in a list

In [64]:
n=int(input("Enter a number: "))
d=[i*n for i in range(1,11)]
d

Enter a number: 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
#table in a ilst upto 10 tables
c=[[i*n for i in range(1,11)]for n in range(1,11)]
c

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [14]:
#tables in a list upto given input
z=int(input("Enter a number: "))
x=[[i*n for i in range(1,11)] for n in range(1,z+1)]
x

Enter a number: 5

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

In [15]:
#we completed
#list
#range
#comprehension
#loops

In [18]:
#break : used to break out of a loop

In [5]:
a=list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
for i in a:
    print(i,end=" ")
    if i ==5:
        break

1 2 3 4 5

In [6]:
#contine
for i in a:
    if i==5:
        continue
    print(i,end=' ')

1 2 3 4 6 7 8 9 10

In [14]:
for i in a:
    print(i,end=" ")
    if i==6:
        break
else:
    print("\nelse statement  printed")

1 2 3 4 5 6